.movie-card {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.movie-card h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.movie-card p {
  color: #666;
  margin-bottom: 10px;
}
